<style>
    .search-btn{
        background-color: rgb(246, 13, 13);
        color: white;
        border-radius: 2rem;
        
    }
    .search-btn i{
      display: inline;
      
    }

.logo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-self: center;
    font-weight: 700;
    color: rgb(246, 13, 13);
   
}

    .search-input{
        border-radius: 2rem;
        font-size: 1rem;
        padding: 0rem,3rem,0rem,3rem;
    }

.navbar-toggler{
    border: 2px solid rgb(246, 13, 13);
    border-radius: 80%;
    text-decoration: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.add-list{
 border-radius: 1.5rem !important;
  border: 2px solid rgb(235, 16, 16) !important;
  
}
.add-list a{
  text-decoration: none;
  color: red;
  padding: 15px;
  
}
@media (max-width: 829px){
   .add-list-text{
      display: none;
   }
}
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    
    <a class="d-flex navbar-brand me-auto" href="/listings"><i class="fa-regular fa-compass"></i><h1 class="d-flex logo ms-auto me-auto">WanderLust</h1></a>
    
    
      <button class="navbar-toggler ms-auto me-auto"     
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" >
      <span class="signup-toggler-icon"><i class="fa-solid fa-user" style="color: rgb(246, 13, 13);  "></i></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!--<div class="navbar-nav ms-auto">        
        <a class="nav-link" href="/listings"><b>Explore</b></a>       
      </div>-->
      <div class="navbar nav ms-auto">
        <form class="d-none d-md-flex d-lg-flex" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
      </div>
     
      <div class="navbar-nav ms-auto">
        
        <%if(!currentUser){%>
          <a class="nav-link" href="/user/signup"><b>Signup</b></a>
          <a class="nav-link" href="/user/login"><b>Login</b></a>
        <%}%>
        <%if(currentUser){%>          
          <a class="nav-link" href="/user/logout"><b>Logout</b></a>
        <%}%>
        
        
      </div>
    </div>

     <div class="add-list ms-auto">
      <a href="/listings/new" role="button"><b><i class="fa-solid fa-plus" style="color: rgb(226, 12, 12);"></i>
        <span class="add-list-text">Add Listing</span></b></a>
    </div>
    
  </div>
</nav>