body{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
/*navbar*/

.fa-compass{
    font-size: 3rem;
    color: red;
}

.nav-link{
    color: #222222 !important;
}



/*footer*/

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

/*cards*/

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.listing-link{
    text-decoration: none;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;   
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

/*New page*/
.add-btn{
    background-color: #f50a0a !important;
}

.edit-btn{
    background-color: #f50a0a !important;
}

/*Show image*/
.show-img{
    height: 30vh;
    
}

.btns{
    display: flex;
}