<%layout("/layouts/boilerplate")%>

<div class="row">
    
    <div class="col-6 offset-3">
        <h1>SignUp on Wanderlust</h1>
        <form action=/signup method="POST" class="mt-5 needs-validation" novalidate>
           <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="enter username" type="text" 
                        class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a username.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" placeholder="enter email" type="email" 
                        class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="enter password" type="password" 
                        class="form-control" required>

            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
        </form>
    </div>
</div>